USE [Courier]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 2/9/2020 12:35:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CurrentLocation]    Script Date: 2/9/2020 12:35:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CurrentLocation](
	[CurrentLocationID] [int] IDENTITY(10,1) NOT NULL,
	[Address] [varchar](max) NULL,
	[Logitude] [decimal](18, 6) NULL,
	[Latitude] [decimal](18, 6) NULL,
	[OrderID] [int] NULL,
 CONSTRAINT [PK_CurrentLocation] PRIMARY KEY CLUSTERED 
(
	[CurrentLocationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[destinations]    Script Date: 2/9/2020 12:35:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[destinations](
	[DestinationID] [int] IDENTITY(10,3) NOT NULL,
	[Latitude] [decimal](18, 6) NULL,
	[Logitude] [decimal](18, 6) NULL,
	[OrderID] [int] NULL,
	[Address] [varchar](max) NULL,
 CONSTRAINT [PK_destinations] PRIMARY KEY CLUSTERED 
(
	[DestinationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Location]    Script Date: 2/9/2020 12:35:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Location](
	[LocationID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[Destination] [varchar](50) NULL,
	[Source] [varchar](50) NULL,
	[CurrentLocation] [varchar](50) NULL,
	[DateSpam] [datetime] NULL,
 CONSTRAINT [PK_Location] PRIMARY KEY CLUSTERED 
(
	[LocationID] ASC,
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Logins]    Script Date: 2/9/2020 12:35:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.Logins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Orders]    Script Date: 2/9/2020 12:35:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(7,3) NOT NULL,
	[Packagename] [varchar](50) NULL,
	[Description] [varchar](max) NULL,
	[weight] [varchar](50) NULL,
	[height] [varchar](50) NULL,
	[width] [varchar](50) NULL,
	[userId] [nvarchar](128) NULL,
	[DateSpam] [datetime] NULL,
	[LocationID] [int] NULL,
	[status] [varchar](50) NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Quota]    Script Date: 2/9/2020 12:35:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Quota](
	[QuotaID] [int] IDENTITY(10,3) NOT NULL,
	[Source] [varchar](30) NULL,
	[Destination] [varchar](30) NULL,
	[PackageInfo] [varchar](max) NULL,
	[DateSpam] [datetime] NULL,
	[email] [varchar](50) NULL,
	[status] [varchar](50) NULL,
 CONSTRAINT [PK_Quota] PRIMARY KEY CLUSTERED 
(
	[QuotaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Receipt]    Script Date: 2/9/2020 12:35:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Receipt](
	[ReceiptID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NULL,
	[Amount] [money] NULL,
	[DateCreated] [datetime] NULL,
	[AdditionalInfo] [varchar](max) NULL,
 CONSTRAINT [PK_Receipt] PRIMARY KEY CLUSTERED 
(
	[ReceiptID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Response]    Script Date: 2/9/2020 12:35:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Response](
	[ResponseID] [int] IDENTITY(10,3) NOT NULL,
	[QuotaID] [int] NULL,
	[Message] [varchar](max) NULL,
	[dateSpam] [datetime] NULL,
	[status] [varchar](50) NULL,
	[TicketID] [int] NULL,
 CONSTRAINT [PK_Response] PRIMARY KEY CLUSTERED 
(
	[ResponseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ResponseReply]    Script Date: 2/9/2020 12:35:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ResponseReply](
	[ReplyID] [int] IDENTITY(10,3) NOT NULL,
	[ResponseID] [int] NULL,
	[Message] [varchar](max) NULL,
	[DateSpam] [datetime] NULL,
	[status] [varchar](50) NULL,
 CONSTRAINT [PK_ResponseReply] PRIMARY KEY CLUSTERED 
(
	[ReplyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 2/9/2020 12:35:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Source]    Script Date: 2/9/2020 12:35:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Source](
	[SourceID] [int] IDENTITY(1,1) NOT NULL,
	[address] [varchar](max) NULL,
	[Latitude] [decimal](18, 6) NULL,
	[Logitude] [decimal](18, 6) NULL,
	[OrderID] [int] NULL,
 CONSTRAINT [PK_Source] PRIMARY KEY CLUSTERED 
(
	[SourceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[support]    Script Date: 2/9/2020 12:35:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[support](
	[TicketID] [int] IDENTITY(1021,3) NOT NULL,
	[email] [varchar](max) NULL,
	[message] [varchar](max) NULL,
	[status] [varchar](50) NULL,
	[dateSpam] [datetime] NULL,
 CONSTRAINT [PK_support] PRIMARY KEY CLUSTERED 
(
	[TicketID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Track]    Script Date: 2/9/2020 12:35:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Track](
	[TrackID] [varchar](20) NOT NULL,
	[OrderID] [int] NULL,
	[DestinationID] [int] NULL,
	[SourceID] [int] NULL,
	[CurrentLocationID] [int] NULL,
 CONSTRAINT [PK_Track] PRIMARY KEY CLUSTERED 
(
	[TrackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserClaims]    Script Date: 2/9/2020 12:35:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.UserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserCredential]    Script Date: 2/9/2020 12:35:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserCredential](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nchar](10) NULL,
	[Email] [varchar](max) NULL,
	[Password] [varchar](max) NULL,
	[UserId] [nvarchar](128) NULL,
 CONSTRAINT [PK_UserCredential] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 2/9/2020 12:35:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.UserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 2/9/2020 12:35:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [nvarchar](128) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[DateStamp] [datetime] NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[CurrentLocation] ON 

INSERT [dbo].[CurrentLocation] ([CurrentLocationID], [Address], [Logitude], [Latitude], [OrderID]) VALUES (1012, N'cameroom', CAST(0.000000 AS Decimal(18, 6)), CAST(0.000000 AS Decimal(18, 6)), 3079)
SET IDENTITY_INSERT [dbo].[CurrentLocation] OFF
SET IDENTITY_INSERT [dbo].[destinations] ON 

INSERT [dbo].[destinations] ([DestinationID], [Latitude], [Logitude], [OrderID], [Address]) VALUES (3031, CAST(0.000000 AS Decimal(18, 6)), CAST(0.000000 AS Decimal(18, 6)), 3079, N'london')
SET IDENTITY_INSERT [dbo].[destinations] OFF
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderID], [Packagename], [Description], [weight], [height], [width], [userId], [DateSpam], [LocationID], [status]) VALUES (3079, N'New Order', NULL, N'33', N'kkkkkkkkkkk', NULL, N'16afef23-e5ad-47f6-be35-43d4381c18b2', CAST(N'2020-02-07 14:30:51.440' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Orders] OFF
SET IDENTITY_INSERT [dbo].[Quota] ON 

INSERT [dbo].[Quota] ([QuotaID], [Source], [Destination], [PackageInfo], [DateSpam], [email], [status]) VALUES (10, N'nnnnn', N'kkkkkkkk', N'kkkkkkkkkk', NULL, N'iyeritufu@gmail.com', NULL)
SET IDENTITY_INSERT [dbo].[Quota] OFF
SET IDENTITY_INSERT [dbo].[Receipt] ON 

INSERT [dbo].[Receipt] ([ReceiptID], [OrderID], [Amount], [DateCreated], [AdditionalInfo]) VALUES (3, 3079, 5000.0000, CAST(N'2020-02-07 14:32:22.673' AS DateTime), N'Small --- -90982')
SET IDENTITY_INSERT [dbo].[Receipt] OFF
SET IDENTITY_INSERT [dbo].[Response] ON 

INSERT [dbo].[Response] ([ResponseID], [QuotaID], [Message], [dateSpam], [status], [TicketID]) VALUES (10, NULL, N'Update strick', NULL, NULL, 1021)
INSERT [dbo].[Response] ([ResponseID], [QuotaID], [Message], [dateSpam], [status], [TicketID]) VALUES (13, NULL, N'Never Pope out', NULL, NULL, 1021)
INSERT [dbo].[Response] ([ResponseID], [QuotaID], [Message], [dateSpam], [status], [TicketID]) VALUES (16, NULL, N'Ok COol', NULL, NULL, 1054)
SET IDENTITY_INSERT [dbo].[Response] OFF
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (N'ccebc3cb-184f-46d2-afc3-67ec0ca966ff', N'Admin')
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (N'ee87cef7-1605-4c5e-be88-aa0d00fbfe0b', N'SuperAdmin')
SET IDENTITY_INSERT [dbo].[Source] ON 

INSERT [dbo].[Source] ([SourceID], [address], [Latitude], [Logitude], [OrderID]) VALUES (1008, N'671 Lincoln Avenue, Winnetka, IL, USA', CAST(42.109731 AS Decimal(18, 6)), CAST(-87.733678 AS Decimal(18, 6)), 3079)
SET IDENTITY_INSERT [dbo].[Source] OFF
SET IDENTITY_INSERT [dbo].[support] ON 

INSERT [dbo].[support] ([TicketID], [email], [message], [status], [dateSpam]) VALUES (1021, N'iyeritufu@gmaol.com', N'so eje', NULL, NULL)
INSERT [dbo].[support] ([TicketID], [email], [message], [status], [dateSpam]) VALUES (1024, N'Iyeritufu@gmail.com', N'My Date Goes Here', NULL, CAST(N'2018-05-06 15:44:49.113' AS DateTime))
INSERT [dbo].[support] ([TicketID], [email], [message], [status], [dateSpam]) VALUES (1027, N'Iyeritufu@gmail.com', N'My Date Goes Here', NULL, CAST(N'2018-05-06 15:46:10.037' AS DateTime))
SET IDENTITY_INSERT [dbo].[support] OFF
INSERT [dbo].[Track] ([TrackID], [OrderID], [DestinationID], [SourceID], [CurrentLocationID]) VALUES (N'380513', 3079, 3031, 1008, 1012)
SET IDENTITY_INSERT [dbo].[UserCredential] ON 

INSERT [dbo].[UserCredential] ([Id], [Username], [Email], [Password], [UserId]) VALUES (1, NULL, N'james24@gmail.com', N'james24@gmail.com', N'16afef23-e5ad-47f6-be35-43d4381c18b2')
INSERT [dbo].[UserCredential] ([Id], [Username], [Email], [Password], [UserId]) VALUES (2, NULL, N'chris2@gmail.com', N'chris2@gmail.com', N'e73cfea6-b97a-4d66-a940-3bcba1fef356')
SET IDENTITY_INSERT [dbo].[UserCredential] OFF
INSERT [dbo].[UserRoles] ([UserId], [RoleId]) VALUES (N'83113239-ea7b-4069-ac65-c41754510023', N'ee87cef7-1605-4c5e-be88-aa0d00fbfe0b')
INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [DateStamp], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'16afef23-e5ad-47f6-be35-43d4381c18b2', NULL, NULL, CAST(N'2020-02-07 14:24:34.857' AS DateTime), N'james24@gmail.com', 0, N'ABcIqyssxaDfWRgu4RimZuumlyezSjhTNGzfC9o4QzgO34IlHbG1vpz2jFvZXdNhaA==', N'a43fe699-1929-44e4-9a07-faeac6f51157', NULL, 0, 0, NULL, 1, 0, N'james24@gmail.com')
INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [DateStamp], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'83113239-ea7b-4069-ac65-c41754510023', NULL, NULL, CAST(N'2020-02-07 05:54:37.153' AS DateTime), N'donp@gmail.com', 0, N'AGIzWwCcpQBqdGvJHNdYSLJofezBmMb+k+iUD/lXmfyG0f1r29W5dkjLYpunTEzOTA==', N'538bf0c8-770e-462a-b67e-828e0847b2f8', NULL, 0, 0, NULL, 0, 0, N'donp@gmail.com')
INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [DateStamp], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'e73cfea6-b97a-4d66-a940-3bcba1fef356', NULL, NULL, CAST(N'2020-02-08 23:11:14.043' AS DateTime), N'chris2@gmail.com', 0, N'APssu88m3ZFOOeancPVX6BN05A5Iq9YLb4L++NsP+SygmjvaboVCBlN0mcbOdMnrBw==', N'8b769dd8-7e9e-4702-aec9-222359173482', N'2349025938580', 0, 0, NULL, 1, 0, N'chris2@gmail.com')
ALTER TABLE [dbo].[CurrentLocation]  WITH CHECK ADD  CONSTRAINT [FK_CurrentLocation_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CurrentLocation] CHECK CONSTRAINT [FK_CurrentLocation_Orders]
GO
ALTER TABLE [dbo].[destinations]  WITH CHECK ADD  CONSTRAINT [FK_destinations_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[destinations] CHECK CONSTRAINT [FK_destinations_Orders]
GO
ALTER TABLE [dbo].[Location]  WITH CHECK ADD  CONSTRAINT [FK_Location_Orders1] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Location] CHECK CONSTRAINT [FK_Location_Orders1]
GO
ALTER TABLE [dbo].[Logins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Logins_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Logins] CHECK CONSTRAINT [FK_dbo.Logins_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users] FOREIGN KEY([userId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users]
GO
ALTER TABLE [dbo].[Receipt]  WITH CHECK ADD  CONSTRAINT [FK_Receipt_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Receipt] CHECK CONSTRAINT [FK_Receipt_Orders]
GO
ALTER TABLE [dbo].[Response]  WITH CHECK ADD  CONSTRAINT [FK_Response_Quota] FOREIGN KEY([QuotaID])
REFERENCES [dbo].[Quota] ([QuotaID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Response] CHECK CONSTRAINT [FK_Response_Quota]
GO
ALTER TABLE [dbo].[Response]  WITH CHECK ADD  CONSTRAINT [FK_Response_support] FOREIGN KEY([TicketID])
REFERENCES [dbo].[support] ([TicketID])
GO
ALTER TABLE [dbo].[Response] CHECK CONSTRAINT [FK_Response_support]
GO
ALTER TABLE [dbo].[ResponseReply]  WITH CHECK ADD  CONSTRAINT [FK_ResponseReply_Response] FOREIGN KEY([ResponseID])
REFERENCES [dbo].[Response] ([ResponseID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ResponseReply] CHECK CONSTRAINT [FK_ResponseReply_Response]
GO
ALTER TABLE [dbo].[Source]  WITH CHECK ADD  CONSTRAINT [FK_Source_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Source] CHECK CONSTRAINT [FK_Source_Orders]
GO
ALTER TABLE [dbo].[Track]  WITH CHECK ADD  CONSTRAINT [FK_Track_CurrentLocation] FOREIGN KEY([CurrentLocationID])
REFERENCES [dbo].[CurrentLocation] ([CurrentLocationID])
GO
ALTER TABLE [dbo].[Track] CHECK CONSTRAINT [FK_Track_CurrentLocation]
GO
ALTER TABLE [dbo].[Track]  WITH CHECK ADD  CONSTRAINT [FK_Track_destinations] FOREIGN KEY([DestinationID])
REFERENCES [dbo].[destinations] ([DestinationID])
GO
ALTER TABLE [dbo].[Track] CHECK CONSTRAINT [FK_Track_destinations]
GO
ALTER TABLE [dbo].[Track]  WITH CHECK ADD  CONSTRAINT [FK_Track_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Track] CHECK CONSTRAINT [FK_Track_Orders]
GO
ALTER TABLE [dbo].[Track]  WITH CHECK ADD  CONSTRAINT [FK_Track_Source] FOREIGN KEY([SourceID])
REFERENCES [dbo].[Source] ([SourceID])
GO
ALTER TABLE [dbo].[Track] CHECK CONSTRAINT [FK_Track_Source]
GO
ALTER TABLE [dbo].[UserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserClaims_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserClaims] CHECK CONSTRAINT [FK_dbo.UserClaims_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[UserCredential]  WITH CHECK ADD  CONSTRAINT [FK_UserCredential_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UserCredential] CHECK CONSTRAINT [FK_UserCredential_Users]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserRoles_dbo.Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_dbo.UserRoles_dbo.Roles_RoleId]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.UserRoles_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_dbo.UserRoles_dbo.Users_UserId]
GO
